/* 
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #BFA490;
  font-family: "houschka-rounded", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h3,
.h3 {
  font-size: 15px;
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: inherit;

}

.image {
  width: 250px;
  height: inherit;
  padding: 10px;
}

.display {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  margin: 20px;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

#searchbar {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  box-sizing: border-box;
}



.likeBtn {
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #412f27;
  border-color: #261c17;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 5px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 13px;
} */

/* :hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
} */